.custom-col {
  border: 1px solid black;
  word-wrap: break-word;
  height: 100px;
}

.card {
  position: inherit !important;
}

.custom-section {
  overflow-y: auto;
  height: 10em;
  
}

.custom-subsection {
  height: 10em;
}


.Contenedor{

  width: 45em !important;
  height: 10em !important;
  border: 5px solid #61dafb !important;
  border: ridge  !important;
}

.element{

  width:11em;
  min-width: 11em;
  max-width: 40em !important;
  max-height: 100%;
  padding: 1em;
  border-color: black !important;
  border-style: ridge  !important;
  background-color:lightblue;
}
.rowCuestionarie{
  height: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
}
.nameSection{
  flex: auto;
  color:rgb(0, 123, 255);
  
}


.flex-container {
padding: 1em;
margin: 0;
list-style: none;
display: flex;
}

.flex-start { 
justify-content: flex-start; 
}
.flex-item {
padding: 5px;
margin: 5px;
line-height: 50px;
}