.custom-col {
  border: 1px solid black;
  word-wrap: break-word;
  height: 100px;
}

.card {
  position: inherit !important;
}

.custom-section {
  overflow-y: auto;
  height: 10em;
  
}

.custom-subsection {
  height: 10em;
}

.modal-90w{
  min-width: 77% !important;
  max-height: 100% !important;
  overflow-y: auto;
}
.Contenedor{

  width: 45em !important;
  height: 10em !important;
  border: 5px solid #61dafb !important;
  border: ridge  !important;
}
.menu{
  width:11em;
  height: 11em;
  border-color: black !important;
  border-style: ridge  !important;
}
.element{

  min-width: 11em;
  max-width: 50em !important;
  padding: 1em;
  border-color: black !important;
  border-style: ridge  !important;
  background-color:white;

  margin: 1em;
}
.rowCuestionarie{
  height: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
}
.nameSection{
  flex: auto;
  color:rgb(0, 123, 255);
  
}


.flex-container {
padding: 1em;
margin: 0;
list-style: none;
display: flex;
}

.flex-start { 
justify-content: flex-start; 
}
.flex-item {
padding: 5px;
margin: 5px;
line-height: 50px;
}
.react-resizable {
  position: relative;
  
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  padding: 0 3px 3px 0;
  
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
textarea { 
  /* will prevent resizing horizontally */
  width:90% !important;
  max-width:90% !important;
  max-height:90% !important;
  resize:horizontal !important;
}
input { 
  /* will prevent resizing horizontally */
  width:90% !important;
}
.spanElement{
  margin: 1em;
  font-weight: bold ;
}
.tagback{

background-color: white;
max-width: 50em !important;
max-width: 100%;

font-weight: 900 !important;

}
.tableTag{
  text-align: center !important;
}
.rowHeader{
  background-color: lightgray;
}