body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.strong {
  font-weight: bolder;
}

/* Clases generales */
.antorcha {
  position: fixed;
  top: 0;
  right: 10%;
  background: url('./img/antorcha.png');
  width: 320px;
  height: 650px;
  z-index: 1;
}

.bandera {
  position: fixed;
  left: 0;
  bottom: 0;
  background: url('./img/bandera.png') no-repeat;
  width: 100%;
  height: 130px;
  z-index: 1;
}

.container-alert {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 5%;
  right: 5%;
  z-index: 4;
}

.back {
  z-index: -1 !important;
}

.success {
  padding: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./img/comprobado.png');
}

.create {
  padding: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./img/mas.png');
}

.view {
  padding: 15px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./img/ver.png');
}

.update {
  padding: 15px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./img/editar.png');
}

.upload {
  padding: 15px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./img/upload.png');
}

.remove {
  padding: 15px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./img/borrar.png');
}

.change {
  padding: 15px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./img/change.png');
}

.doctor {
  height: 80%;
}

.doctor > button {
  padding: 20px !important;
  background: lightskyblue;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 45%;
  background-image: url('./img/doctor.png');
}

.button-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.required {
  color: #dc3545;
  font-size: 15px;
}

.hidden {
  display: none !important;
}

.shown {
  display: block !important;
}

.mh {
  min-width: 100%;
  min-height: 100% !important;
  align-items: center;
  justify-content: center;
  display: flex !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  top: 20% !important;
}

.button-miss {
  background: rgba(0, 0, 0, 0) !important;
  color: black;
  padding: 0 !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.button-miss:focus {
  box-shadow: none !important;
}

.counter {
  position: absolute !important;
  transform: scale(0.7);
  transform-origin: top right;
  right: -25%;
  margin-top: -0.25rem;
}

.fa-bell {
  color: gray;
}

.fa-bell:hover {
  color: black;
}

.progress {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1200 !important;
  border-radius: 0 !important;
}
/* - - - - - - - - - - */
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 100%;
  width: max-content;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.react-autosuggest__input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem + 2px);
}

.MuiOutlinedInput-root {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem !important;
  height: calc(1.5em + 0.75rem + 2px);
}

.MuiAutocomplete-inputRoot {
  padding: 0 3.3rem 0 0.375rem !important;
  font-size: 1rem !important;
}

.MuiFormHelperText-root {
  width: 100% !important;
  margin-top: 0.25rem !important;
  font-size: 80% !important;
  color: #dc3545 !important;
  font-size: 1rem !important;
}

.MuiFormHelperText-contained {
  margin: 8px 0 !important;
  letter-spacing: 0 !important;
  font-size: 1rem !important;
}

.MuiInputBase-root {
  font-family: 'Jaldi', sans-serif !important;
}

.cap {
  text-transform: capitalize;
}